.cards {
    padding: 4rem;
    background: #fff;
}

h1 {
    text-align: center;
}

.cards-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    margin-bottom : 5%;
}

.cards-items {
    margin-bottom: 24px;
}

.cards-item {
    display: flex;
    flex: 1;
    width : 70%;
    margin-top : 5%;
    border-radius: 10px;
}

.cards-item-wrapper {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px #252e48;
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
}

.cards-item-pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
}

.fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
}

.cards-item-img {
    position: absolute;
    top: 2%;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
}

.cards-item-header {
    padding: 20px 30px 30px;
}

.cards-item-title {
    color: #252e48;
    font-size: 30px;
    line-height: 24px;
    margin-top : 1%;
}

.cards-item-txt {
    font-size: 20px;
    width : 90%;
    margin-left: 5%;
}

.cards-item-links {
    height: 13%;
    margin-top : 2%;
}

.cards-item-link-button {
    float: right;
    height: 8%;
    width: 8%;
    margin-left: 1%;
    margin-right: 1%;
    border-width: 0 0 0 0;
    background-color: #ffffff;
    transition: all 0.2s linear;
}

.cards-item-link-button:hover {
    transform: scale(1.1);
}


@media only screen and (max-width: 1024px) {
    .cards {
        padding: 1rem;
        background: #fff;
    }

    .cards-container {
        width: 100%;
        margin-bottom: 5%;
    }

    .cards-item {
        margin-bottom: 2rem;
        width: 100%; /*PASSER A 100% en Mobile*/
    }

    .cards-item-txt {
        font-size: 15px;
    }

    .cards-item-title {
        font-size: 20px;
        line-height: 0px;
        margin-top : 12px;
    }

    .cards-item-link-button {
        height: 12%;
        width: 12%;
        margin-left: 1%;
        margin-right: 1%;
    }
}
