.icons {
    font-size: 20px;
}


.icons-container {

}

.icons-line-wrapper { /*Position du groupe des icones par rapport à la page*/
    text-align: center;
}

.icon-item {
    display: inline-block;
}

.icon-img-wrapper {
    width: 300px;
    height: 300px;
    padding-top: 40%;
    overflow: hidden;
}


.icon-item-img {
    width: auto;             /*taille de l'image dans la case*/
    max-width: 80%;
    height: auto;
    max-height: 80%;
}


.icon-item-txt {
    color: #252e48;
    font-size: 20px;
    text-align : center;
}


@media only screen and (max-width: 1024px) {

    .icons {
    }


    .icons-container {
    }

    .icons-line-wrapper { /*Position du groupe des icones par rapport à la page*/
        text-align: center;
    }

    .icon-item {
        display: inline-block;
    }

    .icon-img-wrapper {
        width: 150px;
        height: 150px;
        padding-top: 40%;
        overflow: hidden;
    }


    .icon-item-img {
        width: 70%; /*taille de l'image dans la case*/
        max-width: 80%;
        height: 70%;
        max-height: 80%;
    }


    .icon-item-txt {
        color: #252e48;
        font-size: 20px;
        line-height:14px;
        text-align: center;
    }
}
