.timeline{

}

.timeline-container {
    display: flex;
    align-items: center;
    width: 80%;
    height: auto;
}

.timeline-image-container {
    margin-left: 20%;
}

.timeline-image{

}

.timeline-items-container {
    margin-top : 10%;
    margin-left : 10%;
}

.timeline-item {
    margin-bottom : 20%;
}

.timeline-item-titre{

}

.timeline-item-date {

}

.timeline-item-txt {

}